/* Agregar alto al layout pata que tenga lugar para centrarse */
.login {
  height: 100%;
}

.login__card {
  width: 35%;
  padding: 2rem;
}

/*LOGIN HEADER */
/* Centrar el header y modificar logo*/
.login__header {
  text-align: center;
}

.login__header img{
  height: 28px;
  margin-bottom: .4rem;
}
.login__logo {
  color: var(--main-color);
  transform: scale(2.5);
  margin-bottom: 1rem;
}

/*LOGIN FORM */

/* Input field */
.login__formField {
  margin-bottom: 1rem;
}
.login__formField p{
  color: var(--main-color);
}
.login__formField input{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

/*REGISTER BUTTON */

.login__button {
  --primary-color: #F5A9BC;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.login__button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.login__button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.login__button:hover {
  background-color: var(--hover-color);
}

.login__button:hover .arrow {
  background: var(--secondary-color);
}

.register__button:hover .arrow:before {
  right: 0;
}

/* LOGIN REGISTER */

.login__register span {
  color: var(--main-color);
  font-weight: bold;
}
