.listado {
  height: 100%;
}

#listado {
  margin-top: 6%;
}

#listado__historia{
  background-color: var(--main-color);
  color: white;
}

#listado__editar{
  background-color: darkgreen;
  color: white;
}

#listado__borrar{
  background-color: brown;
  color: white;
}

.listado__boton{
  margin: 10px;
}
