#toolbar {
  top: 0;
  position: sticky;
  z-index: 10;
  background-color: var(--main-color);
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar__icon{
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.toolbar__exit {
  margin-right: 20px;
}


#maticon, #itemlist {
  color: white;
}

mat-sidenav-container{
  background-color: transparent;
  height: 100%;
}

mat-sidenav{
  width: 20%;
  background-color: var(--main-color);
}



